<div class="bg-[#252934] text-white h-screen w-screen items-center flex justify-center">
    <div class="text-center space-y-4">
        <h2 class="font-bold text-5xl">
            Hello, 
            <span class="text-[#E31B6D]">I'm Subash</span>
        </h2>
        <p class="font-thin text-3xl">
            I'm a full stack web developer.
        </p>
        <button class="text-white rounded-sm p-3 max-w-lg ring-white ring-2 text-lg" (click)="renderHeader($event)">View my work</button>
    </div>
</div>
