<div class="bg-[#252934] text-white h-screen flex items-center justify-center">
    <div class="text-center space-y-4">
      <!-- Heading -->
      <h2 class="font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl">
        Hello, 
        <span class="text-[#E31B6D]">I'm Subash</span>
      </h2>
  
      <!-- Subheading -->
      <p class="font-thin text-lg sm:text-xl md:text-2xl lg:text-3xl">
        I'm a full stack developer.
      </p>
  
      <!-- Button -->
      <button 
        class="text-white rounded-sm p-3 sm:p-3  max-w-lg ring-white ring-2 text-sm sm:text-md md:text-lg lg:text-xl"
        (click)="renderHeader($event)">
        View my work
      </button>
    </div>
  </div>
  
