<div class="justify-between flex items-center py-12">
    <div class="m-4 p-6">
        <!-- IMAGE CONTENT  -->
         <img class="w-full h-full" src="./assets/images/profile-pic (4).png" alt="profile-pic">
    </div>
    <div class="w-full px-10">
        <h3 class="text-4xl space-y-3 my-5">Who am I?</h3>
        <p class="space-y-3 text-xl">
            I am a passionate Software Engineer with 2 years of hands-on experience in full-stack development. 
        </p>
        <p class="space-y-3 text-xl">
            I specialize in crafting robust, scalable, and secure applications using Java, Spring Boot, and Angular. 
            My journey in the tech world has been driven by a love for problem-solving and a relentless pursuit of excellence. 
        </p>
    </div>
</div>

<!-- From designing intuitive front-end interfaces to building powerful back-end systems,  I thrive on turning complex challenges into elegant solutions. Explore my projects, skills, and let's connect to create something amazing together! -->
