/* You can add global styles to this file, and also import other style files */

/* Tailwind CSS v2.0.2 | MIT License | https://tailwindcss.com */
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #252934;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
    transition: all 0.5s ease-in;
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.5);
}

:hover::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0.1);
}